// @tg version=v0.0.1
// @tg title=`{{.projectName}} API`
// @tg description=`A service which provide {{.projectName}} API`
// @tg servers=`http://{{.projectName}}-server:9000`
//
//go:generate tg server --out internal/transport
package contracts